# installed by, used by mypy.sh
#
# for autopep8.sh:
autopep8
#
# NOTE! types- package versions should match those in requirements.txt!
mypy
#
# suggested by mypi:
types-PyYAML==6.0.*
types-requests==2.28.*
