python-dotenv==0.20.0
celery==5.2.6
pytest==7.1.2
Flask==2.1.1
gunicorn==20.1.0
requests==2.27.1
sentry-sdk[flask]==1.5.10
SQLAlchemy==1.4.36
alembic==1.7.7
gevent==21.12.0
feedparser==6.0.8
blinker==1.4
psycopg2==2.9.3
feedgen==0.9.0
python-dateutil==2.8.2
mediacloud-metadata==0.4.2
